/* styling for the entire page */
body {
  color: #2d3c49;
}

/*styling for the header*/
h1 {
  font-size: 50px;
  overflow-wrap:break-word;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  overflow-wrap:break-word;
}

h2 {
  color: #7d97ad;
  font-size: 30px;
}

.main_title {
  max-width: 100%;
  height: 8rem;
  border-bottom: 5px solid #7d97ad;
  display: flex;
  justify-content: space-between;

  padding-right: .938em;
  padding-left: .938em;
  padding-top: 1.5em;
  margin-right: auto;
  margin-left: auto;

}

.header img {
  height: 5rem;
  width: 5rem;
}

.title {
  text-align: right;
  align-items: flex-end;
  max-height: 7rem;
  flex-shrink: 1;
  width:50%;
}

.image {
  width:50%;
}

/* styling for the big image */
.big-image {
  padding-top: 1.5rem;
}
.main-image {
  max-width: 100%;
}

/* styling for the main body */
.works img {
  height: 60%;
  width:60%;
}


.featured {
    padding: 1.5rem;
}

.featured-heading{
  padding-bottom: 2rem;
}

p {
  overflow-wrap:break-word;
}
.works {
  text-align: center;
}

h4 {
  font-size: 2.5rem;
}


a {
  color: #7d97ad;
  text-decoration: none;
}

/*footer styling*/
li {
  display: inline;
}

/*setting to keep the header displaying properly between big screens and small screens*/
@media only screen and (max-width:768px){
  .main_title {
    height: 50%;
    font-size:20%
  }
  .title h1 {
    font-size: 10em;
  }
  .title h3 {
    font-size:5em;
  }
}


/*setting for mobile device e.g. Nexus 5x*/
@media only screen and (max-width:412px){

  /*header*/
  .main_title {
    height: 20%;
    font-size: 15%;
  }
  .title h1 {
    font-size: 10em;
  }
  .title h3 {
    font-size: 5em;
  }

  .header img {
      height: 6em;
      width: 6em;
  }

  /*big image*/
  .big-image {
    padding-top:1rem;
    text-align: center;

  }

  /*featured works*/
  .featured {
    padding:1rem;
  }

  .main-image {
    height:auto;
    width:40%;
    align-items: center;
  }

  .featured-heading {
    font-size: 2em;
    text-align: center;
    padding-bottom: 1rem;
  }

  .works img {
    height:auto;
    width:20%;
  }
  .works h4 {
    font-size:1.5em;
  }
  .works p {
    padding-bottom: .5em;
  }

}
